@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.woff2);
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url(chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Thin.woff2);
}

* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}

/**
 * Modifies the Google NTP into a Google Now styled page.
 */
body {
	/* background-color: #ececec !important; */
	line-height: 1.42857143 !important;
}

/* removes the search */
form {
	display: none;
}

.hide {
	display: none;
}

/**
 * Modifies the most visited widget.
 */
#most-visited#most-visited {
	margin-top: 20px;
}

#mv-tiles#mv-tiles {
	height: auto;
	text-align: center;
	width: 1376px !important; /*width: auto !important;*/
	line-height: 0; /*line-height: 142px;*/
}

#mv-tiles > .mv-tile {
	height: 130px;
	width: 210px;
	-webkit-margin-start: 10px;
}

#mv-tiles .mv-mask {
	width: 210px;
}

#mv-tiles > .mv-tile:first-child {
	-webkit-margin-start: 0 !important;
}

#mv-tiles .mv-thumb, #mv-tiles .mv-locthumb, #mv-tiles .mv-locgradient, #mv-tiles .mv-locfallback {
	width: 200px;
}

#mv-tiles .mv-title {
	width: 161px;
}

a[href^="http://"] > img {
	height: 142px;
	min-height: initial;
}

/* Gmail and other Google apps like notification */
#most-visited > #mv-noti, #most-visited > #mv-noti-error {
	position: relative;
	top: 8px;
	z-index: 90;
	display: inline-block;
	padding: 6px 0 6px 10px;
	border: 1px solid transparent;
	border-color: #f0c36d;
	border-radius: 2px;
	background: #f9edbe;
	background-color: #f9edbe;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	font-weight: 700;
}

.mv-noti-hide {
	display: none !important;
}

#mv-noti-msg {
	padding: 0 0 0 6px;
}

#mv-noti-lks > span {
	color: #222 !important;
	text-decoration: underline !important;
}

#mv-noti-x {
	position: relative;
	right: 8px;
}

/**
 * Promotion messages.
 */
#prm > div {
	margin-bottom: 2px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px 0, rgba(0, 0, 0, 0.0470588) 0 0 0 1px;
	color: rgb(136, 136, 136);
	padding: 5px;
	display: inline-block;
	margin-left: 19px;
	min-width: 31.78%;
}

#prm > .gb_wb.gb_Ia {
	display: inline-block;
}

#prm-pt > br {
	display: none;
}

/**
 * Modifies the nav bar.
 */
#mngb#mngb {
	/*background: #f1f1f1;
	border-bottom: 1px solid #ccc;*/
	height: 60px;
	top: 0;
}

#gb > div {
	height: 60px;
	background-color: white;
	opacity: 0.80;
	border-bottom-left-radius: 5px;
	transition: opacity 500ms;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px;
}

#gb > div:hover {
	opacity: 1;
}

/**
 * Header and background image.
 */
#lga#lga {
	margin-top: 0 !important;
	padding-top: 20px;
	background-repeat: no-repeat;
	height: 100%;
	min-height: 131px;
}

#lga img {
	padding-top: 0 !important;
}

/* doodle specific */
#lga > .cta { /* #dood */
	margin-top: -20px;
}

#dood > img {
	margin-top: -20px !important;
}

#lga > #dood  {
	margin-top: -18px;
}

/**
 * General css for the content boxes.
 */
/* Clearfix breaks the flexbox */
#main-cards::before, #main-cards::after, #main-cards > .row::before,  #main-cards > .row::after {
	display: block;
}

/* Equal height */
#main-cards > .row {
	display: flex;
	flex-wrap: wrap;
}

/* Equal height */
#main-cards > .row > .col-lg-3 {
	display: flex;
}

.box {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px 0, rgba(0, 0, 0, 0.0470588) 0 0 0 1px;
	color: #888;
	margin: 10px;
	width: 100%;
	position: relative;
	cursor: default;
	min-height: 100px;
}

.box__content h2 {
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
}

.box__item {
	border-top: 1px solid #EEE;
	padding: 15px;
}

.box__item:first-child {
	border-top: 0;
	padding: 0 0 0 15px;
	text-align: left;
}

.box__item:first-child > h2 {
	font-weight: normal;
}

.box__item:only-child {
	padding: 15px;
	text-align: center;
}

.box__caption.box__caption a {
	color: #888;
}

.box__caption.box__caption a:hover {
	color: #000;
	text-decoration: none;
}

.box__item a {
	color: #444;
	font-size: 16px;
}

.box__item a:hover {
	text-decoration: underline;
}

.box__item--title {
	text-align: left;
	word-break: break-word;
}

.box__img {
	padding-right: 0;
	margin-right: -10px;
}

/**
 * Clock widget specific css.
 */
#box-clock > .box__content {
	font-family: Roboto, sans-serif;
}

.clock__hours, .clock__minutes {
	font-size: 60px;
	line-height: 60px;
	color: black;
}

.clock__hours {
	padding: 0 15px 0 0;
}

.clock__minutes {
	font-weight: 100;
}

.clock__postfix {
	font-size: 25px;
	font-weight: 100;
	vertical-align: top;
}

.clock__date {
	padding: 5px 0 0 0;
}


/**
 * Weather widget specific css.
 */
#box-weather {
	font-family: Roboto, sans-serif;
}

#box-weather .box__caption {
	padding-top: 1px;
}

#box-weather .box__caption > h2 > a {
	font-size: 18px;
}

#box-weather .box__item--title {
	color: black;
	font-size: 75px;
	margin-left: -15px;
	line-height: 1.1;
}

.weather__data--current {
	border-top: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.weather__data {
	padding: 0;
	list-style-type: none;
	text-align: left;
	font-size: 15px;
	margin-top: 7px;
}

.weather__data--img {
	margin: 5px 0 0 0;
	text-align: right;
}

.weather__data--img > img {
	height: 75px;
	width: 75px;
}

.weather__data--day {
	text-transform: uppercase;
}

.weather__data--day::after {
	content: '.';
	position: absolute;
}

.weather__data--temperature::after {
	content: '°';
	position: absolute;
}

.weather__data--condition {
	text-transform: uppercase;
	white-space: nowrap;
}

.weather__data--wind::before,
.weather__data--humidity::before {
	position: relative;
	top: 3px;
	opacity: .3;
}

.weather__data--wind::before {
	margin-right: 5px;
	content: url(chrome-extension://__MSG_@@extension_id__/img/wind.webp);
}

/* by http://www.wpzoom.com */
.weather__data--humidity::before {
	top: 5px;
	margin-right: 5px;
	content: url(chrome-extension://__MSG_@@extension_id__/img/wet.webp);
}

/* Forecast */
.weather__data--forecast {
	display: flex;
	justify-content: space-between;
}

.weather__data--forecast > .weather__data {
	color: #888;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	padding: 0 15px 0 6px;
	/*border-right: 1px solid #e5e5e5;*/
}

/*.weather__data--forecast > .weather__data:last-child {
	border-right: none;
}*/

.weather__data--forecast .weather__data--img {
	text-align: center;
}

.weather__data--forecast .weather__data--img > img {
	width: 35px;
	height: 35px;
}

.weather__data--high {
	color: #666;
}

.weather__data--low {
	color: #AAA;
}


/**
 * Represents the 'info' widget, which extends normal widgets.
 */
/* Button */
.box-info {
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 99;
	width: 24px;
	height: 24px;
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/ic_now_feedback_sprite.webp');
	background-position: 0 0;
	cursor: help !important;
}

.box-info:hover {
	background-position: 0 24px;
	opacity: .7;
}

.box-info__active {
	background-position: 0 24px;
}

/* Content */
.box-info__content {
	position: relative;
	top: 12px;
	opacity: 0;
	transition: opacity 750ms;
	width: 100%;
	padding-bottom: 30px;
}

.box-info__active ~  .box-info__content.fade {
	opacity: 1;
}

.box-info__text {
	font-size: 14px;
}

.box-info__options {
	border-top: 1px solid #EEE;
	padding-top: 15px;
	font-size: 17px;
}

#box-weather .extendedInfo {
	top: 20px;
	left: -20px;
	padding-right: 10px;
	width: 102%;
}

/* Toggle */
.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
	top: -8px;
}
input.cmn-toggle-round + label {
	padding: 2px;
	width: 60px;
	height: 30px;
	background-color: #dddddd;
	border-radius: 60px;
	transform: translateX(6rem);
}
input.cmn-toggle-round + label::before,
input.cmn-toggle-round + label::after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}
input.cmn-toggle-round + label::before {
	right: 1px;
	background-color: #f1f1f1;
	border-radius: 30px;
	transition: background 0.4s;
}
input.cmn-toggle-round + label::after {
	width: 28px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label::before {
	background-color: #8ce196;
}
input.cmn-toggle-round:checked + label::after {
	margin-left: 30px;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

img {
	vertical-align: middle;
}


/* Range */
input[type='range'] {
	-webkit-appearance: none;
	position: absolute;
	top: 50%;
	left: 50%;
	border: none;
	padding: 0 2em;
	width: 22.25em;
	height: 4em;
	border-radius: .25em;
	transform: translate(-50%, -50%);
	background: transparent;
	font: 1em arial, sans-serif;
	cursor: pointer;
	/* slider components */
}
input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	position: relative;
	border: none;
	height: 0.5em;
	border-radius: 0.25em;
	box-shadow: inset 0 1px 0.125em #e3e4e6, 0 0 0.125em #e3e4e6, 0 0 0.25em #e3e4e6, 0 0 0.5em #e3e4e6, 0 0 1em #e3e4e6;
	background-color: #fff;
	background: linear-gradient(#777777, #777777) no-repeat #fff;
	background-size: 12.5% 100%;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-top: -0.25em;
	border: none;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	box-shadow: 0 0 0.125em #d4d4d4, 0 0 0.125em #d4d4d4, 0 1px 0.125em white, 0 1px 0.125em white, 0 0.125em 0.125em #d4d4d4;
	background: #f8f8f8;
}
input[type='range'] /deep/ #track::before {
	position: absolute;
	bottom: 1em;
	font-size: .875em;
	text-indent: .25em;
	word-spacing: 1.65625em;
	content: '0 5 10 15 20 25 30 35 40';
}
input[type='range']:focus {
	outline: none;
}


/** Update popup */
#new-promo {
	position: fixed;
	bottom: 90px;
	left: 50%;
	z-index: 999;
	margin-left: -300px;
	width: 600px;
	height: 220px;
	border: 1px solid lightgray;
	border-top-width: 2px;
	border-bottom-width: 3px;
	border-radius: 2px;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	cursor: default;
}

/**
 * Responsiveness.
 */
/* @todo: Need better breakpoints */
 @media only screen and (max-width: 1860px) {
 	#mv-tiles > .mv-tile {
 		height: 100px;
 		width: 166px;
 		-webkit-margin-start: 10px;
 	}

 	#mv-tiles .mv-mask {
 		width: 166px;
 	}

 	#mv-tiles .mv-thumb, #mv-tiles .mv-locthumb, #mv-tiles .mv-locgradient, #mv-tiles .mv-locfallback {
 		width: 156px;
 	}

 	#mv-tiles .mv-title {
 		width: 126px;
 	}

 	a[href^="http://"] > img {
 		height: 80px;
 		min-height: initial;
 	}
 }

 @media only screen and (max-width: 1600px) {
 	.mv-tile.mv-tile, .mv-thumb.mv-thumb, .mv-mask.mv-mask {
 		height: 95px; /* * 1.66265060241 = width */
 		width: 157px;
 	}

 	.mv-title.mv-title {
 		width: 100px !important;
 		left: 50px !important;
 	}
 }

 @media only screen and (max-width: 1400px) {
 	.mv-tile.mv-tile, .mv-thumb.mv-thumb, .mv-mask.mv-mask {
 		height: 70px; /* * 1.66265060241 = width */
 		width: 116px;
 	}

 	.mv-title.mv-title {
 		width: 100px !important;
 		left: 50px !important;
 	}

 	.col-lg-3 {
 		max-width: 33%;
		flex-basis: 33%;
 	}
 }